@using Microsoft.AspNetCore.Components.Forms
@using Conjure.Data
@using Conjure.Data.Client

<div class="form-group">
    <label for="@inputId">@Label</label>
    <InputText Id="@inputId" Class="form-control"
               readonly="@(ReadOnly || (valueTarget?.IsReadOnly ?? true))"
               @bind-Value="ValueTargetAsString" />
</div>

@code {
[Parameter] string Label { get; set; }
[Parameter] object ValueRoot { get; set; }
[Parameter] string ValuePath { get; set; }
[Parameter] bool ReadOnly { get; set; }
[Parameter] EventCallback Changed { get; set; }

string inputId = $"input-{Guid.NewGuid()}";
BindTarget valueTarget;

protected string ValueTargetAsString
{
    get => valueTarget.Value?.ToString();
    set
    {
        valueTarget.Value = value;
        Changed.InvokeAsync(null);
    }
}

protected override void OnParametersSet()
{
    valueTarget = new BindTarget(ValueRoot, ValuePath);
}
}
