@using Microsoft.AspNetCore.Components.Forms
@inherits BoundInputBase<DateTime?>

<div class="form-group">
    <label for="@inputId">@Label</label>
    <InputDate Id="@inputId" Class="form-control"
               readonly="@(ReadOnly || (valueTarget?.IsReadOnly ?? true))"
               @bind-Value="TypedValue" />
</div>
